
{% extends "layout.html" %}

{% block pageTitle %}
  Academy Transfers design history
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Academy Transfers design history</h1>     

      <h2 class="govuk-heading-m">About this page</h2>

      <p>The purpose of this page is to keep a historical repository with views of the several prototypes explored during our alpha whithin the Academy Transfers.</p>

      <p>You can change the content of this page with <strong>Patrick</strong> on Monday!</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
